<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<head>
	<title>SHS Library Reservation System</title>

	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import .css-->
	<link type="text/css" rel="stylesheet" th:href="@{/css/materialize.min.css}"  media="screen,projection"/>
	<link type="text/css" rel="stylesheet" th:href="@{/css/main-style.css}"/>

	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<script type="text/javascript">
        function sendItemID(id) {
            console.log(id);
            var itemid = id;
            $("#id").val(itemid);
            $("#send").submit();
        }
	</script>
</head>

<body>
<!--Header-->
<nav>
	<div class="nav-wrapper">
		<div class="logo-container">
			<img id="dlsu-logo" th:src="@{/images/dlsu-logo.png}">
			<div class="dlsu-text">
				<font size="3"><span>De La Salle University - Manila</span></font>
				<font size="2"><span>SHS Library Reservation System</span></font>
			</div>
		</div>

		<ul id="nav-mobile" class="right">

			<ul class="left hide-on-med-and-down">
				<li><a th:href="@{/user/home}">Home</a></li>
				<li class="active"><a th:href="@{/user/displayBooks}">Books</a></li>
				<li><a th:href="@{/user/displayMagazines}">Magazines</a></li>
				<li><a th:href="@{/user/displayTheses}">Theses</a></li>
				<li><a th:href="@{/user/displayMeetingRooms}">Rooms</a></li>
				<li><a th:href="@{/user/displayAuthors}">Authors</a></li>
				<li><a th:href="@{/user/displayPublishers}">Publishers</a></li>
			</ul>
			<li class="search">
				<div class="row">
					<form action="search" th:action="@{/user/resultsPage}" method="POST">
						<div class="input-field col s12">
							<input id="keyWord" name="keyWord" pattern="[a-zA-Z\s]+" type="text" class="validate">
							<label for="keyWord">Search</label>
						</div>
					</form>
				</div>
			</li>
			<li>
				<!-- Dropdown Trigger -->
				<a class='dropdown-button' href='#' data-activates='dropdown1'><i class="material-icons prefix">settings</i></a>


				<!-- Dropdown Structure -->
				<ul id='dropdown1' class='dropdown-content'>
					<li><a href="#!"><span th:text="${user.username}"></span></a>
					<li><a th:href="@{/user/viewAccount}">View Account</a></li>
					<li><a th:href="@{/logout}">Logout</a></li>
				</ul>
			</li>
		</ul>

	</div>
</nav>

<!--Main-->

<!--Books/Magazines/Thesis/etc-->
<div class="container">
	<form id="send" th:action="@{/user/viewItem}" method="POST">
		<input type="hidden" name="id" id="id" />
	</form>

	<div class="row  materials-container">
		<!--Sample of Available Book Material-->
		<div class="col s12">
			<div th:each="item : ${books}">
				<div class="row grey lighten-4 material-container">
					<div class="col s1 material-type center">
						<img class="material-icon" th:src="@{/images/book.png}">
						<p class=""><b>Book</b></p>
					</div>

					<div class="col s10" th:onclick="'sendItemID(\''+ ${item.id} +'\');'">
						<a id="item1"><h6 th:text="${item.itemName}"</h6></a>
						<p><b>Author/s: </b><i th:text="${item.author}"></i></p>
						<p><b>Publisher/s: </b><i th:text="${item.publisher}"></i></p>
						<p><b>Year: </b><i th:text="${item.yearPublished}"></i></p>
						<br>
						<p><b>Location: </b><i th:text="${item.location}"></i></p>
						<!--<p><b>Tags: </b> <i>text rdacontent, computer rdamedia, computer disc rdacarrier, stock market</i></p>-->
						<!---->
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
</div>


<!--Import jQuery before materialize.js-->
<script type="text/javascript" th:src="@{/js/jquery-2.1.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/materialize.min.js}"></script>

</body>

</html>